* {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
}

header {
  max-height: 720px;
}

.icon {
  height: 16px;
}

.bg-black {
  background-color: black;
}

.img-sm {
  height: 250px;
}

.p-description {
  z-index: 1;
  opacity: 0;
}

.visible {
    opacity: 1;
    transition: .5s;
}

.invisible {
  opacity: 0;
  transition: .5s;
}

.card-img {
  transform: scale(1);
  transition: .5s;
}

.card-img:hover {
  transform: scale(1.02);
  transition: .5s;
}

.w-100 {
  width: 95%;
}
/*----------------------------------
VIDEO BANNER
----------------------------------*/
.section {
  height: 75vh;
}

.section h1,
.section p {
  z-index: 1;
}

/*----------------------------------
MEDIA QUERIES
----------------------------------*/

@media (min-width: 768px) {
  .img-1-md {
    height: 450px;
  }
  .img-2-md {
    height: 310px;
  }
}

@media (min-width: 992px) {
  .img-1-lg {
    height: 600px;
  }
  .img-2-lg {
    height: 410px;
  }
  .img-3-lg {
    height: 205px;
  }
}
